.wrapper_language {
    display: flex;
    justify-content: end;
}

.select {
    background-color: #161a2b;
    color: white;
    padding: 6px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}